fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
gunicorn
alembic
psycopg2-binary
python-multipart
openai
redis
passlib[bcrypt]
python-jose
bcrypt==4.0.1
pydantic-settings
pdfminer.six
python-docx
httpx